<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
      <i class="fab fa-stack-overflow fa-2x"></i>
    <a class="navbar-brand js-scroll-trigger" href="/" style="padding-left: 10px;">stack<strong>overnice</strong></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <% if !(author_signed_in?) %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_author_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', new_author_registration_path, class: "nav-link" %>
          </li>
        <% end %>
        <% if author_signed_in? %>
          <li class="nav-item dropdown author-nav">
            <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_author.display_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'My posts', authors_posts_path, class: "dropdown-item #{yield(:author)}" %>
              <%= link_to 'Account', authors_account_path, class: "dropdown-item" %>
              <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>